.main-container {
    min-height: 100vh;
    background-color: #fff;
  }
  
  /* Banner superior que hereda la estética de tu mockup */
  .logo-banner {
    background-color: #ffdce0 !important;
    height: 180px;
    width: 100%;
    border-radius: 12px;
  }
  
  .logo-white-box {
    background: white;
    padding: 15px;
    border: 1px solid #ffbabc;
    border-radius: 50%; /* Lo hace circular como el perfil de tu mockup */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  
  /* Botón personalizado de reserva */
  .btn-outline-danger {
    color: #333 !important;
    border-color: #ff5a60 !important;
    background: transparent !important;
    border-width: 2px !important;
  }
  
  .btn-outline-danger:hover {
    background-color: #ff5a60 !important;
    color: white !important;
  }